{{ define "main" }}

<section class="single">
<h1 class="title">{{ .Title }}</h1>

	<div class="tip">
	{{ if (.PublishDate) }}
	Posted:
        <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006/01/02" }}</time>
        <br>
        {{end}}
        {{ if and (.Params.last_updated) (ne .PublishDate .Params.last_updated) }}
        Last Updated:
            <time datetime="{{ .Params.last_updated }}">{{ (time .Params.last_updated).Format "2006/01/02" }}</time>
            {{ end }}
            </div>


            <div class="post-navigation-container">
            <div class="taxonomies">
            {{ with .Params.categories }}
            <div>
            Category:
                {{ range . }}
                <a href="/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
                </div>
                {{ end }}
                </div>

                <div class="navigation-links">
                {{ if and (not .Params.hide_navigation) .PrevInSection }}
                <a class="nav-link nav-link-prev" href="{{ .PrevInSection.Permalink }}"><b><-- </b>{{ .PrevInSection.Title }}</a>
                {{ else }}
                <div class="nav-link nav-link-prev"></div> {{ end }}

                {{ if and (not .Params.hide_navigation) .NextInSection }}
                <a class="nav-link nav-link-next" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}<b> --></b></a>
                {{ end }}
                </div>
                </div>





                <hr />

                <div class="content">
                {{ .Content }}
                </div>

                {{ if .Params.show_comments }}
                <hr />
                {{ partial "comment.html" . }}

                {{ end }}
                </section>


<div>
    <!--{{ if trim .Content " \n" }}
        <div class="content archive-hint">{{ .Content }}</div>
    {{ end }}-->

    {{ if not .Params.hide_list_items }}
        <section id="archive">

            <div class="group">

                {{ range .Pages }}
                    <div class="value">
                        <time class="date" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006/01/02" }}</time>

                        <div class="title">

                            <a href="{{ .Permalink }}">{{ .Title }}</a>

                            {{ with .Params.tags }}
                                {{ range . }}
                                    <a class="tags" href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                            {{ end }}

                        </div>
                    </div>
                {{ end }}

            </div>

        </section>
    {{ end }}
</div>


{{ end }}
