{{ define "main" }}

<main data-pagefind-body>

<section class="single">
    <h1 class="title">{{ .Title }}</h1>

	<div class="tip">
		{{ if (.PublishDate) }}
		Posted: 
		<time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2006/01/02" }}</time>
		<br>
		{{end}}
		{{ if and (.Params.last_updated) (ne .PublishDate .Params.last_updated) }}
		Last Updated: 
		<time datetime="{{ .Params.last_updated }}">{{ (time .Params.last_updated).Format "2006/01/02" }}</time>
		{{ end }}
	</div>


    <div class="taxonomies">
        {{ with .Params.categories }}
        <div>
		Category: 
            {{ range . }}
                <a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>

    <hr />

    <div class="content">
        {{ .Content }}
    </div>

    {{ with and .Site.Params.remark42 .Params.show_comments }}
        <hr />
        {{ partial "comment.html" . }}
    {{ end }}
</section>



{{ end }}
