{{ $videoID := .Params.video_id }}
{{ $video := index (where site.Data.manifest "id" $videoID) 0 }}

{{ if not $video }}

<h2>Video not found</h2>

<p>
    Could not find video ID: {{ $videoID }}
</p>

{{ else }}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>{{ $video.title }}</title>

    <script src="https://www.youtube.com/iframe_api"></script>

    <link
        rel="stylesheet"
        href="{{ "css/style.css" | relURL }}">

</head>

<body class="archive-video">

<div class="archive-content" data-pagefind-body>

{{ .Content }}

</div>



<div id="back-button-container">

    <a
        id="back-button"
        href="{{ "/archive/" | relURL }}">

        ← Back to Archive

    </a>

</div>



<div id="player-layout">

    <div id="video-column">

        <div id="player"></div>

        {{ if $video.audio }}

        <div
            id="audio-status"
            style="display:none;">
        </div>

        <div
            id="volume-control"
            style="display:none;">

            <label for="volume">

                Music Volume

            </label>

            <input
                id="volume"
                type="range"
                min="0"
                max="300"
                value="150">

        </div>

        <audio
            id="audio"
            preload="auto">
        </audio>

        {{ else }}

        <div id="audio-status">

            No Music Track Available

        </div>

        {{ end }}

    </div>



    <div id="chat-column">

        <div id="chat-header">


            <button id="toggle-chat">

                Hide Live Chat Replay

            </button>

        </div>

        <div id="chat-container">

            <div id="chat"></div>

        </div>

    </div>

</div>



<script>

window.videoId =
"{{ $video.id }}";

{{ if $video.audio }}

window.audioFile =
"{{ site.Params.audioBaseURL }}{{ $video.audio }}";

window.audioOffset =
{{ $video.offset }} / 1000;

{{ else }}

window.audioFile = "";
window.audioOffset = 0;

{{ end }}



{{ if $video.chat }}

window.chatFile =
"{{ site.Params.chatBaseURL }}{{ $video.chat }}";

{{ else }}

window.chatFile = "";

{{ end }}



window.chatOffset =
{{ default 0 $video.chatOffset }} / 1000;

</script>

<script
src="{{ "js/script.js" | relURL }}">
</script>

</body>

</html>

{{ end }}
