<div class="gallery">
    <div class="preview">
        <a id="preview-link" href="">
            <img id="preview" src="" style="display:block;margin:0 auto;" alt=""  height="600" width="800"/>
        </a>
    </div>

    <div class="gallery-thumbnails" style="margin:0 auto;text-align:center">
        {{ range $index, $img := split (.Get "images") "," }}
            <img onclick="document.getElementById('preview').src=this.src; document.getElementById('preview-link').href=this.src;" id="img{{ add $index 1 }}" src="{{ $img }}" alt="" />
        {{ end }}
    </div>
</div>

<script>
    window.onload = function() {
        var galleries = document.getElementsByClassName('gallery');

        // Loop through each gallery
        for (var i = 0; i < galleries.length; i++) {
            var gallery = galleries[i];
            var images = gallery.getElementsByClassName('gallery-thumbnails')[0].getElementsByTagName('img');

            // Set the preview image for each gallery
            if (images.length > 0) {
                gallery.getElementsByClassName('preview')[0].getElementsByTagName('img')[0].src = images[0].src;
                gallery.getElementsByClassName('preview')[0].getElementsByTagName('a')[0].href = images[0].src;
            }
        }
    }
</script>

