/*
*  @author: iKlem <iklem.d@gmail.com>
*  @version: 1.1
*/

/* Background image and color. */
body {
    background: #CCCCCC url("img/bg_dark.png");
	background-size: 100%
}

#static-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: url("img/caution_banner.png") center center no-repeat;
    background-size: cover;  /* or "contain" if you want it all visible */

    z-index: 999999;         /* higher than anything else */
    pointer-events: none;    /* or "auto" if you want clicks blocked too */
}

/* Background color of the left panel. */
header {
    background: #FFFFFF;
}

/* Color/background color of the titles "SERVER NAME" and "RULES" */
h1, #player {
    color: white;
    background-color: #045FB4;
}

/* Background color of the progress bar. */
#loadBar {
    background-color: #939393;
}

/* Color of the filled part of the progress bar. */
#loadBar-width {
    background-color: black;
}
